<div ng-controller="arrayCtrl as vm">

<!-- <div class="Jumbotron">
<div  class="col-md-3 array-demo">col-md-3</div>
<div class="col-md-3 array-demo">col-md-3</div>
<div class="col-md-3 array-demo">col-md-3</div>
<div class="col-md-3 array-demo">col-md-3</div>
</div>



<input type="text" name="add" ng-model="demo"/><br/><br/>
{{demo | currency:'&#00000000;'}}
 -->



<button type="button" class="btn btn-primary" ng-click="vm.hung()">show</button>
<a name="gaurav">gaurav1</a><br/><br/>

Rootscope:<input type="text" name="add" ng-model="knp"/><br/><br/>
{{knp}}<br/><br/>
<!---one time data binding example start -->

<strong>one time data binding :</strong><input type="text" name="one" ng-model="pokal"/><br/><br/>

{{::pokal}}
<!---one time data binding example end -->

<input type="text" ng-bind="dew" placeholder="show work of ng bind"/>
{{dew}}
</div>