<div ng-controller="demoPageCtrl">

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
	<div class="container">
	<div class="row demo-page"><h2>Welcome to Flatmarket</h2>
	<h4>Flatmarket is a free, open source e-commerce platform for static websites. This is a demo, products are not for sale.</h4></br></br>
	
	<div class="demo-page-bigdav col-md-6" ng-click="rateBox()">
	<span class="fruit-pos">
	<img class="img-size" src="../../image/img1.jpg">
	</span>
	<span class="price">$10</span>
	<p class="text-show">Click Here For Purchase</p>
	</div>
	
	 <div class="demo-page-bigdav col-md-6">
	 <span class="fruit-pos">
	<img class="img-size" src="../../image/img2.jpg">
	</span>
	 <span class="price">$10</span>
	 <p class="text-show">Click Here For Purchase</p>
	</div>
	
	
	
	<div class="demo-page-bigdav col-md-6">
	<span class="fruit-pos">
	<img class="img-size" src="../../image/img3.jpg">
	</span>
	<span class="price">$10</span>
	<p class="text-show">Click Here For Purchase</p>
	</div>
	
	
	
	<div class="demo-page-bigdav col-md-6">
	<span class="fruit-pos">
	<img  class="img-size"src="../../image/img4.jpg">
	</span>
	<span class="price">$10</span>
	<p class="text-show">Click Here For Purchase</p>
	</div>
	
	
	
	
	
	<div class="demo-page-bigdav col-md-6">
	<span class="fruit-pos">
	<img class="img-size" src="../../image/img5.jpg">
	</span>
	<span class="price">$10</span>
    <p class="text-show">Click Here For Purchase</p>	
	</div>
	
	
	
	<div class="demo-page-bigdav col-md-6">
	<span class="fruit-pos">
	<img class="img-size" src="../../image/img6.jpg">
	</span>
	<span class="price">$10</span>
	<p class="text-show">Click Here For Purchase</p>
	</div>
	<div class="demo-page"><a href="#/kanpur">Get Flatmarket</a></div>
	</div>
	</div>
	</body>
	</html>
	<div class="page-pay" ng-show="bro">hello</div>
	</div>
	