<div ng-controller="emitCtrl">  
<h2>here you can show data sharing b/w one controller to anotehr controller using emit. </h2>

<div class="container" name="gaurav">
  
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" placeholder="Enter name" ng-model="user.value1">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Mobile:</label>
      <div class="col-sm-10">          
        <input type="number" class="form-control" id="mob" ng-model="user.value2" placeholder="Enter mobile no.">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" ng-click="send();open()" class="btn btn-primary" data-toggle="modal" data-target="#myModal">EMIT DATA</button>
      </div>
    </div>
  </form>
</div>

<div ng-repeat="data in myArray track by $index">
  <div>{{data.value1}}</div>
  <div>{{data.value2}}</div>
  </div>












</div>