<div ng-controller="modalCtrl">
<div class="modl-head-dav col-lg-3 col-md-3 col-sx-3 col-sm-3" ng-click="india()">india</div>
<div class="modl-head-dav col-lg-3 col-md-3 col-sx-3 col-sm-3" ng-click="america()">America</div>
<div class="modl-head-dav col-lg-3 col-md-3 col-sx-3 col-sm-3" ng-click="china()">China</div>
<div class="modl-head-dav col-lg-3 col-md-3 col-sx-3 col-sm-3" ng-click="russia()">Russia</div>


<div class="nw-modal" ng-show="market">
<div class="modal-box animated bounceinRight">hello india
<span class="close" ng-click="close()">x</span>
hello pune
</div>
</div>
<button type="button" class="btn btn-primary" ng-click="openModal()">open your modal</button>
<p>hello kanpur (j query applyed)</p>
<p>hello delhi  (j query applyed)</p>
<p>hello pune   (j query applyed)</p>


</div>